parameters:
    level: 8
    paths:
        - AttributeExtension.php
        - src/Internal
        - scripts
    excludePaths:
        - vendor
        - .upstream (?)
    scanDirectories:
        - src
        - vendor
    treatPhpDocTypesAsCertain: false
